.card {
  width: $card-width;
  height: $card-height;
  border: 1px solid $color-border;
  border-radius: 5px;
  background-color: $color-white;
  font-family: $font-family-main;

  &__images {
    display: flex;
    width: 160px;
    height: 134px;
    top: 33px;
    left: 100px;
    padding: $card-padding-top $card-padding-side $card-padding-bottom;
  }

  &__title {
    display: block;
    width: 166;
    height: 36;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: $color-main-text;
    margin-right: 16px;
    margin-left: 16px;
  }

  &__information {
    display: block;
    width: 98;
    height: 14;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    color: $color-second-text;
    white-space: nowrap;
    margin-top: 4px;
    margin-left: 16px;
  }

  &__reviews {
    display: flex;
    padding-left: 16px;
    padding-right: 16px;
    justify-content: space-between;
    padding-top: 16px;
  }

  &__reviews-numbers {
    display: flex;
    width: 53px;
    height: 16px;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    color: $color-main-text;
    align-items: flex-end;
  }

  &__price {
    display: flex;
    width: 166px;
    height: 18px;
    justify-content: space-between;
    margin-left: 16px;
    margin-right: 16px;
    padding-top: 24px;
  }

  &__price-text {
    display: block;
    width: 31px;
    height: 18px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: $color-second-text;
  }

  &__price-sum {
    display: block;
    width: 50px;
    height: 18px;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: $color-main-text;
  }

  &__button {
    display: block;
    width: 166px;
    height: 40px;
    border-radius: 5px;
    background-color: $color-blue;
    margin: 16px;
    color: $color-white;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
  }

  &__button:hover {
    background-color: $color-white;
    color: $color-blue;
    border: 1px solid $color-blue;
  }
}
